@model CurationAssistant.Models.HomeViewModel

<div class="validationVariablesContainer">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#validationVariables" role="button" aria-expanded="false" aria-controls="validationVariables">
            Validation rules
        </a>
    </p>
    <div class="collapse" id="validationVariables">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Post create date range<br />
                        <small>(min / max in minutes)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.PostCreatedAtMin, new { @class = "form-control", placeholder = "Min (minutes)", aria_label = "Min (minutes)" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.PostCreatedAtMax, new { @class = "form-control", placeholder = "Max (minutes)", aria_label = "Max (minutes)" })</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Post max pending payout<br />
                        <small>(in $)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.PostMaxPendingPayout, new { @class = "form-control", placeholder = "$ max pending payout", aria_label = "$ max pending payout" })</div>
                <div class="col-sm-4"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Total max pending payout<br />
                        <small>(in $)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.TotalMaxPendingPayout, new { @class = "form-control", placeholder = "$ max pending payout", aria_label = "$ max pending payout" })</div>
                <div class="col-sm-4"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Max received payout for a post<br />
                        <small>(in $ / created within x days)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.MaxPostPayoutAmount, new { @class = "form-control", placeholder = "$ max post payout", aria_label = "$ max post payout" })</div>
                <div class="col-sm-4">
                    <select name="ValidationVariables.PostsMinDays" class="form-control">
                        @for (var i = 1; i <= CurationAssistant.Helpers.ConfigurationHelper.PostsMinDaysUntil; i++)
                        {
                            if (i == Model.ValidationVariables.MaxPostPayoutDays)
                            {
                                @Html.Raw(string.Format("<option value={0} selected>{0} days</option>", i));
                            }
                            else
                            {
                                @Html.Raw(string.Format("<option value={0}>{0} days</option>", i));
                            }
                        }
                    </select>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Author reputation range<br />
                        <small>(min / max)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.AuthorRepMin, new { @class = "form-control", placeholder = "Min (#.##)", aria_label = "Min (#.##)" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.AuthorRepMax, new { @class = "form-control", placeholder = "Max (#.##)", aria_label = "Max (#.##)" })</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Minimum # Posts<br />
                        <small>(excl. comments) in x days (count / days)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.PostsMin, new { @class = "form-control", placeholder = "Post amount", aria_label = "Post amount" })</div>
                <div class="col-sm-4">
                    <select name="ValidationVariables.PostsMinDays" class="form-control">
                        @for (var i = 1; i <= CurationAssistant.Helpers.ConfigurationHelper.PostsMinDaysUntil; i++)
                        {
                            if (i == Model.ValidationVariables.PostsMinDays)
                            {
                                @Html.Raw(string.Format("<option value={0} selected>{0} days</option>", i));
                            }
                            else
                            {
                                @Html.Raw(string.Format("<option value={0}>{0} days</option>", i));
                            }
                        }
                    </select>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Minimum # Comments<br />
                        <small>in x days (count / days)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.CommentsMin, new { @class = "form-control", placeholder = "Post amount", aria_label = "Post amount" })</div>
                <div class="col-sm-4">
                    <select name="ValidationVariables.CommentsMinDays" class="form-control">
                        @for (var i = 1; i <= CurationAssistant.Helpers.ConfigurationHelper.CommentsMinDaysUntil; i++)
                        {
                            if (i == Model.ValidationVariables.CommentsMinDays)
                            {
                                @Html.Raw(string.Format("<option value={0} selected>{0} days</option>", i));
                            }
                            else
                            {
                                @Html.Raw(string.Format("<option value={0}>{0} days</option>", i));
                            }
                        }
                    </select>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Upvote account VP<br />
                        <small>(accountname / minimum VP % required)</small>
                    </label>
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.UpvoteAccount, new { @class = "form-control", placeholder = "Account name", aria_label = "Account name" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.VPMinRequired, new { @class = "form-control", placeholder = "Min VP %", aria_label = "Min VP %" })</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        Last upvote from Upvote account<br />   
                        <small>(Min # days ago with > x%)</small>
                    </label>
                </div>
                <div class="col-sm-4">
                    <select name="ValidationVariables.MinDaysLastUpvoteFromUpvoteAccount" class="form-control">
                        @for (var i = 1; i <= CurationAssistant.Helpers.ConfigurationHelper.UpvoteMinDaysUntil; i++)
                        {
                            if (i == Model.ValidationVariables.MinDaysLastUpvoteFromUpvoteAccount)
                            {
                                @Html.Raw(string.Format("<option value={0} selected>{0} days</option>", i));
                            }
                            else
                            {
                                @Html.Raw(string.Format("<option value={0}>{0} days</option>", i));
                            }
                        }
                    </select>                    
                </div>
                <div class="col-sm-4">@Html.TextBoxFor(x => x.ValidationVariables.MinPercentageUpvoteFromUpvoteAccount, new { @class = "form-control", placeholder = "Min %", aria_label = "Min %" })</div>
            </div>
        </div>
    </div>
</div>
